body {
    background-color: #121212;
    font-family: Verdana, sans-serif;
}

h1 {
    color: #ED4D27;
}

h2 {
    color: #4F40FF;
}

p {
    color: #f1f1f1;
}

li {
    color: #a8dadc;
}

a {
    color: #4cc9f0;
    text-decoration: none;
}

img {
    width: 300px;
}